/* ==========================================================================
   Colors configuration
   ========================================================================== */
/* ==========================================================================
   Fonts configuration
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400&subset=latin,cyrillic-ext,cyrillic,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,cyrillic-ext,cyrillic,latin-ext);
.transition {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.transition-opacity {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  -ms-transition: opacity 0.25s ease;
  -o-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}
.transition-background {
  -webkit-transition: background-color 0.25s ease;
  -moz-transition: background-color 0.25s ease;
  -ms-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}
.transition-color {
  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -ms-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease;
}
.transition-color-background {
  -webkit-transition: opacity 0.25s ease, background-color 0.25s ease;
  -moz-transition: opacity 0.25s ease, background-color 0.25s ease;
  -ms-transition: opacity 0.25s ease, background-color 0.25s ease;
  -o-transition: opacity 0.25s ease, background-color 0.25s ease;
  transition: opacity 0.25s ease, background-color 0.25s ease;
}
/* Icons */
/*------------------------------*/
@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.eot?r6hh89');
  src: url('../fonts/icons.eot?r6hh89#iefix') format('embedded-opentype'), url('../fonts/icons.ttf?r6hh89') format('truetype'), url('../fonts/icons.woff?r6hh89') format('woff'), url('../fonts/icons.svg?r6hh89#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="vs-icon-"],
[class*=" vs-icon-"] {
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.vs-icon-bucket:before {
  content: "\e900";
}
.vs-icon-components:before {
  content: "\e901";
}
.vs-icon-settings:before {
  content: "\e902";
}
.vs-icon-feature-no:before {
  content: "\e903";
}
.vs-icon-feature-yes:before {
  content: "\e904";
}
.vs-icon-question-mark:before {
  content: "\e905";
}
.vs-icon-checked:before {
  content: "\e906";
}
.vs-icon-nonstop:before {
  content: "\e907";
}
.vs-icon-question:before {
  content: "\e908";
}
.vs-icon-star:before {
  content: "\e909";
}
/*# sourceMappingURL=icons.css.map */